
@{
    ViewBag.Title = "Create Portfolio";
}

<div class="container mt-4 mb-5">

    <h2 class="text-center mb-4">Create Your Portfolio</h2>

    <h3 class="text-center mb-3">Complete The Steps Below To Create Your Portfolio</h3>

    <table class="table table-bordered table-striped text-center">
        
        <thead class="table-dark">
            <tr>
                <th style="width:50%">Steps</th>
                <th style="width:25%">Status</th>
                <th style="width:25%">Action</th>
            </tr>   
        </thead>

        <tbody>

            <tr>
                <td class="text-left">Basic Details</td>
                <td>
                    <span class="badge bg-warning" style="font-size:1em;">Incompleted</span>                
                    <span class="badge bg-success" style="font-size:1em; color:white;">Completed</span>                
                </td>
                <td>
                    <button class="btn btn-primary">Add</button>
                    <button class="btn btn-success">Edit</button>
                </td>
            </tr>

            <tr>
                <td class="text-left">Eduction</td>
                <td>
                    <span class="badge bg-warning" style="font-size:1em;">Incompleted</span>
                    <span class="badge bg-success" style="font-size:1em; color:white;">Completed</span>
                </td>
                <td>
                    <button class="btn btn-primary">Add</button>
                    <button class="btn btn-success">Edit</button>
                </td>
            </tr>

            <tr>
                <td class="text-left">Experience</td>
                <td>
                    <span class="badge bg-warning" style="font-size:1em;">Incompleted</span>
                    <span class="badge bg-success" style="font-size:1em; color:white;">Completed</span>
                </td>
                <td>
                    <button class="btn btn-primary">Add</button>
                    <button class="btn btn-success">Edit</button>
                </td>
            </tr>

        </tbody>

    </table>

</div>

